DB_URL=

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=
MAIL_FROM_NAME=
MAIL_STARTTLS=
MAIL_SSL_TLS=

JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES=timedelta(days=15)
JWT_REFRESH_TOKEN_EXPIRES=timedelta(days=30)

api_key=